<div class="container mt-3">
  <h4>Agregar Persona</h4>
  <form (ngSubmit)="agregarPersona()">
    <div class="mb-3">
      <label for="nombres" class="form-label">Nombres</label>
      <input type="text" id="nombres" class="form-control" [(ngModel)]="persona.nombres" name="nombres" required>
    </div>
    <div class="mb-3">
      <label for="edad" class="form-label">Edad</label>
      <input type="number" id="edad" class="form-control" [(ngModel)]="persona.edad" name="edad" required>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" id="email" class="form-control" [(ngModel)]="persona.email" name="email" required>
    </div>
    <div class="mb-3">
      <label for="celular" class="form-label">Celular (Opcional)</label>
      <input type="text" id="celular" class="form-control" [(ngModel)]="persona.celular" name="celular">
    </div>
    <button type="submit" class="btn btn-primary">Agregar Persona</button>
  </form>
</div>
